doctype html

script.
  const deleteRecord = function(crud_library_id) {
    var url = "/booktable/" + crud_library_id
    fetch(url, {
        method: 'DELETE',
        body: JSON.stringify({
            _method: 'DELETE'
        })
    })
    .then((response) => {
        console.log('reload')
        location.reload() // Reloads the current page
    })
  }

html(lang='en')
  head
    // Required meta tags
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    // CSS
    link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3' crossorigin='anonymous')
    title Library Catalog
  body
    h3.text-center.my-3 Search for Books
    // Search Bar
    .row
      .col-8.col-md-push-1
        .container
          .row
            .col-xs-8.col-xs-offset-2
              form#searchForm.input-group.mb-3(action='#' method='get')
                .input-group-btn.search-panel
                  select#search_param.btn.btn-default.dropdown-toggle(name='search_param' data-toggle='dropdown')
                    option(value='title') Book Title
                    option(value='isbn') ISBN #
                    option(value='author') Author
                    option(value='genre') Genre
                    option(value='books_available') Books Available
                input.form-control.mx-3.mb-3(type='text' name='x' placeholder='Search term...')
                span.input-group-btn
                  button.btn.btn-outline-dark(type='submit')
                    svg.bi.bi-search(xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' viewBox='0 0 16 16')
                      path(d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z')
      // Add Book section
      .col-3
        button.btn.btn-primary(type='button' data-toggle='modal' data-target='#bookModal')
          svg.bi.bi-plus-circle-fill(xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' viewBox='0 0 16 16')
            path(d='M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z')
          |                Add a Book
        a.btn.btn-primary(href='/usertable')
          svg.bi.bi-person(xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' viewBox='0 0 16 16')
            path(d='M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z')
          |  User Page 
    // Modal
    #bookModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='exampleModalLabel' aria-hidden='true')
      .modal-dialog(role='document')
        .modal-content
          .modal-header
            h5#exampleModalLabel.modal-title Add a Book
            button.close(type='button' data-dismiss='modal' aria-label='Close')
              span(aria-hidden='true') ×
          form(action='/booktable' method='post' name='add')
            .modal-body
              .form-group
                label(for='bookTitle') Book Title
                input#bookTitle.form-control(type='text' placeholder='Enter Book Title', name="book_title")
              .form-group
                label(for='author') Author
                input#author.form-control(type='text' placeholder="Enter Author's name", name="author_name")
              .form-group
                label(for='genre') Genre
                input#genre.form-control(type='text' placeholder="Enter Book's genre", name="genre")
              .form-group
                label(for='isbn') ISBN Number
                input#isbn.form-control(type='text' placeholder='Enter ISBN', name="isbn")
                small#isbnHelp.form-text.text-muted Ex: 978-1-501111-10-5
              .form-group
                label(for='quantity') Books Quantity Donated
                input#quantity.form-control(type='number' placeholder='Enter quantity', name="books_available")
            .modal-footer
              button.btn.btn-secondary(type='button' data-dismiss='modal') Close
              button#addButton.btn.btn-primary(type='submit') Save changes
    // Table
    .container
      table#booktable.table.table-bordered.text-center.px-5
        thead
          tr
            th(scope='col') Book ID
            th(scope='col') Book Title
            th(scope='col') Author
            th(scope='col') Genre
            th(scope='col') ISBN #
            th(scope='col') Books Available
            th(scope='col') Edit/Delete
        tbody
          each crudLibraryMember in crudLibraryMembers
            tr
              td #{crudLibraryMember.id}
              td #{crudLibraryMember.book_title}
              td #{crudLibraryMember.author_name}
              td #{crudLibraryMember.genre}
              td #{crudLibraryMember.isbn}
              td #{crudLibraryMember.books_available}
              td        
                a(href='/booktable/' + crudLibraryMember.id)  
                  svg.bi.bi-pencil-square(xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' viewBox='0 0 16 16')
                      path(d='M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z')
                      path(fill-rule='evenodd' d='M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z')
                //button#editBtn.btn.btn-sm.btn-outline-secondary( data-toggle='modal' data-target='#editModal')
                  svg.bi.bi-pencil-square(xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' viewBox='0 0 16 16')
                    path(d='M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z')
                    path(fill-rule='evenodd' d='M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z')
                button(onclick=`deleteRecord(${crudLibraryMember.id})`) Delete
                //button#deleteBtn.btn.btn-sm.btn-outline-danger
                  svg.bi.bi-trash(xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' viewBox='0 0 16 16')
                    path(d='M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z')
                    path(fill-rule='evenodd' d='M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z')
     
      script(src='https://code.jquery.com/jquery-3.2.1.slim.min.js' integrity='sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN' crossorigin='anonymous')
      script(src='https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js' integrity='sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q' crossorigin='anonymous')
      script(src='https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js' integrity='sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl' crossorigin='anonymous')
